.flex-container {
    display: flex;         /* Active le mode Flexbox */
    align-items: center;  /* Aligne verticalement l'image et le texte (optionnel) */
    gap: 20px;            /* Crée un espace entre l'image et le texte */
	margin-bottom: 0.3cm;
}

.side-image {
    max-width: 40%;       /* L'image prend 40% de la largeur */
    height: auto;         /* Garde les proportions de l'image */
}

.text-content {
    flex: 1;              /* Le texte occupe tout l'espace restant */
}
